
if [ -f `brew --prefix`/etc/bash_completion ]; then
    . `brew --prefix`/etc/bash_completion
fi

# alias hub to git for best feelings!
# see https://github.com/github/hub#aliasing
if [ -x /usr/local/bin/hub ]; then
  eval "$(hub alias -s)"
fi
